{% extends "accounts/auth_base.html" %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Sign Up{% endblock %}

{% block form %}
    <div class="col-sm-4  post-project" style="margin-left: 30%;">
        <h3>Signing Up is Free</h3>
        <div class="post-project-fields">
            {% csrf_token %}
            {% crispy form %}
            <p>
              Already signed up? <a href="{% url 'accounts:login' %}">Log in</a>.
            </p>
        </div>
    </div>

{% endblock form %}

