{%  extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}
    {{ context.user }}
{% endblock %}

{% block body %}
    <div class="container ">
        <img src="../{% thumbnail context.group.picture 140x140 %}" width="200" height="200"><br>
        <h1>{{ context.group.name }}</h1>
        <p>{{ context.group.info }}</p>

        {% if context.admin %}
            <a href="{%  url 'groups:updateGroup' context.group.pk %}"><button class="btn-primary btn-sm ">Edit Group</button></a>
            <a href="{% url 'groups:deleteGroup' context.group.pk %}"><button class="btn-primary btn-sm ">Delete Group</button></a><br>
            <a href="{% url 'groups:members' context.group.pk %}"><button class="btn-info">Add/Remove Members</button></a>
        {% endif %}

        {% if context.member %}
            <a href="{% url 'groups:leaveGroup' context.group.pk %}" class="float-right"><button class="btn-primary">Leave Group</button></a><br>
        {% endif %}

        <ul><h3>All Members</h3>
        {%  for member in context.group.members.all %}
            {% if member != request.user %}
                <li><a href="{% url 'profiles:profileView' member %}"><img src="../{% thumbnail member.profile.picture 140x140 %}" width="50" height="50">
                {{ member.profile.firstName }} {{ member.profile.lastName }}
            </a></li>
            {% endif %}

        {%  endfor %}
        </ul>

        {% if context.member %}
            <a href="{% url 'groups:createPost' context.group.pk %}"><button class="btn-primary">Create a Post</button></a>
        {% endif %}

        <div>
        <h3>{{ context.group.name }}'s Posts</h3>
            {% include "posts/post.html" %}
        </div>


    </div>


<script>
$('.groups').addClass('active');
</script>

{% endblock %}

{% block extra-head %}

{% endblock %}