
{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
    .
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="alert alert-danger">
            Are you sure you want to delete this group?
        </div>

        <p>{{ group.name }}</p>

        <form action="" method="post">
          {% csrf_token %}
          <input type="submit" value="Confirm Delete" class="btn btn-danger" />
        </form>

      </div>
    </div>
  </div>
{% endblock %}