{%  extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}
Messages
{% endblock %}
{% block extra-head %}
    <script>
        $(document).ready(function () {
            $('.file').addClass('active');
        })
    </script>
{% endblock %}
{% block body %}
    <div class="container">
    {% if all_files %}
        <div class="companies-list">
        <div class="row">
        {%  for r in all_files %}

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="company_profile_info">
                    <div class="company-up-info">
                        <img src="../{{ r.sender.profile.picture }}" width="100px" height="100px" alt="">
                        <h3>{{ r.sender.profile.firstName }} {{ r.sender.profile.lastName }}</h3>
                        <p><img src="{% static 'images/clock.png' %}" alt="">{{ r.date }}</p>
                        <div style="border: solid">
                            <h3>
                                {{ r.title }}
                            </h3>

                        </div>
                        <ul>
                            <li><a href="{% url 'message:download' r.filepath %}" title="" class="follow">Download</a></li>
                            <li><a href="{% url 'message:createMessage' r.sender %}" title="" class="follow">Reply</a></li>
                        </ul>
                    </div>

                </div><!--company_profile_info end-->
            </div>
            {%  endfor %}
        </div>
        </div>
    {% else %}
        <h3>No Files</h3>
    {%  endif %}


{#    <div class="container">#}
{#    {% if all_files %}#}
{#        <ul>#}
{#            {%  for m in all_files %}#}
{#                <li><a href="{% url 'profiles:profileView' m.sender %}"><img src="../{% thumbnail m.sender.profile.picture 140x140 %}" width="50" height="50">#}
{#                    {{ m.sender.profile.firstName }} {{ m.sender.profile.lastName }}#}
{#                </a>#}
{#                <div class="container mdi-border">#}
{#                    <a href="{% url 'message:download' m.filepath %}"><p>{{ m.title }}</p></a>#}
{#                </div>#}
{#                <a href="{% url 'message:check' m.filepath %}"><button class="btn-primary">Check</button></a>#}
{#                <a href="{% url 'message:createMessage' m.sender %}"><button class="btn-primary">Reply</button> </a>#}
{#                <a href="{% url 'message:uploadFile' m.sender %}"><button class="btn-primary">Send a File</button> </a>#}
{#                </li>#}
{##}
{#            {%  endfor %}#}
{#        </ul>#}
{#    {% else %}#}
{#        <h3>No Files</h3>#}
{#    {%  endif %}#}
{#    </div>#}
{% endblock %}