{%  extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}
Search
{% endblock %}
{% block body %}
		<section class="companies-info">
			<div class="container">
				<div class="company-title">
					<h3>All Profiles/Groups</h3>
				</div><!--company-title end-->
				<div class="companies-list">
					<div class="row">
                    {%  for profile in all_profiles %}
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="company_profile_info">
								<div class="company-up-info">
                                    {% if profile.user %}
									<img src="../{{ profile.picture }}" width="100px" height="100px" alt="">
                                    <h3>{{ profile.firstName }} {{ profile.lastName }}</h3>
									<h4>{{ profile.bio }}</h4>
								    <a href="{% url 'profiles:profileView' profile.user %}" title="" class="view-more-pro">View Profile</a>

                                    {% else %}
                                    <img src="../{{ profile.picture }}" width="100px" height="100px" alt="">
                                    <h3>{{ profile.name }}</h3>
									<h4>{{ profile.info }}</h4>
								    <a href="{% url 'groups:groupDetail' profile %}" title="" class="view-more-pro">View Group</a>

                                    {% endif %}
								</div>

							</div><!--company_profile_info end-->
						</div>
                    {% endfor %}
                    </div>
				</div><!--companies-list end-->
				<div class="process-comm">
					<a href="#" title=""><img src="images/process-icon.png" alt=""></a>
				</div>
			</div>
		</section><!--companies-info end-->


{% endblock %}
