{%  extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block body %}
    {% if all_friends %}
        <h2>My Friend List</h2>
        <ul>
            {%  for friend in all_friends %}
                <li >
                    <div style="display: inline "><a href="{% url 'profiles:profileView' friend %}"><img src="../{% thumbnail friend.profile.picture 140x140 %}" width="100" height="100">
                    {{ friend.profile.firstName }} {{ friend.profile.lastName }}
                    </a></div>
                    <a href="{% url 'profiles:removeFriend' friend.pk %}"><button class="btn-info" style="display: inline">Remove Friend</button></a>
                </li>
            {%  endfor %}
        </ul>
    {% else %}
        <h3>No Profiles</h3>
    {%  endif %}
{% endblock %}