{%  extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}
    {{ context.user }}
{% endblock %}

{% block body %}


<main>
    {% if context.profile is not None %}
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3" style="margin-top: 10%;">
                        <div class="main-left-sidebar">
                            <div class="user_profile">
                                <div class="user-pro-img">
                                    <img src="../{% thumbnail context.profile.picture 140x140 %}" alt="">
                                </div><!--user-pro-img end-->

                                <div class="user_pro_status">
                                    <ul class="flw-hr">
                                        {% if context.valid %}
                                        <li><a href="{%  url 'profiles:editProfile' context.user.id %}" title="" class="flww"> Edit Profile</a></li>
                                        <li><a href="{% url 'profiles:friendList' %}" title="" class="hre">Friend List</a></li>
                                        {% elif context.friendship == 'friends' %}
                                        <li><a href="{% url 'message:createMessage' context.user %}" title="" class="flww">Message</a></li>
                                        <li><a href="{% url 'message:uploadFile' context.user %}" title="" class="hre">Share File</a></li>
                                        {% elif context.friendship == 'requested' %}
                                            <p>Friend request sent</p>
                                        {% else %}
                                        <li><a href="{% url 'requests:newFriendRequest' context.user.id %}" title="" class="flww"><i class="la la-plus"></i>Send Friend Request</a></li>
                                        {% endif %}
                                    </ul>
                                    <ul class="flw-status">
                                        <li>
                                            <span>Friends</span>
                                            <b>{{ context.friends }}</b>
                                        </li>
                                    </ul>
                                </div><!--user_pro_status end-->

                            </div><!--user_profile end-->
                        </div><!--main-left-sidebar end-->
                    </div>
                    <div class="col-lg-6">
                        <div class="main-ws-sec">
                            <div class="user-tab-sec">
                                <h3>{{ context.profile.firstName }} {{ context.profile.lastName }}</h3>
                                <div class="star-descp">
                                    <span>{{ context.profile.bio }}</span>
                                </div><!--star-descp end-->
                            </div><!--user-tab-sec end-->
                            <div class="product-feed-tab current" id="feed-dd">
                                <div class="posts-section">
                                    {% include "posts/post.html" %}
                                </div><!--posts-section end-->
                            </div><!--product-feed-tab end-->
                        </div><!--main-ws-sec end-->
                    </div>
                    <div class="col-lg-3">
                        <div class="right-sidebar">
                            {% if context.friendship == 'friends' %}
                            <div class="message-btn">
                                <a href="{% url 'profiles:removeFriend' context.user.id %}" title="" class="flww"><i class="la la-minus"></i>Unfriend</a>
                            </div>
                            {% endif %}
                            <div class="widget widget-jobs">
                                <div class="sd-title">
                                    <h3>Groups</h3>
                                </div>
                                <div class="jobs-list">
                                    {% for group in context.groups %}

                                    <div class="job-info">
                                        <a href="{% url 'groups:groupDetail' group.name %}" ><div class="user-picy">
                                            <img src="/{% thumbnail group.picture 140x140 %}" alt="">
                                        </div>
                                        <div class="job-details">
                                            <h3>{{ group.name }}</h3>
                                            <p>{{ group.info }}</p>
                                        </div></a>
                                    </div><!--job-info end-->
                                    {% endfor %}
                                </div><!--jobs-list end-->
                            </div><!--widget-jobs end-->

                        </div><!--right-sidebar end-->
                    </div>
                </div>
            </div><!-- main-section-data end-->
        </div>
    </div>
    {% endif %}
</main>


{% endblock %}
